extends layout

block content
  h1 Compare <small> !{macs.join(' & ')} </small>
  #canvas-container

block scripts
  script().
    var localdata = localdata || {};
    localdata.compare = !{JSON.stringify(data)};

  script(src="/javascripts/compare.js")
